body {
	font-family: 'PT Serif', serif;
	font-size: 1rem;
	color: #212121;
}

h4{
	font-family: 'PT Serif', serif;
	color: #212121;
	
}

h6{
	font-family: 'PT Serif', serif;
	color: #212121;
	
}

.top {
  opacity: 0;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 18rem;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.top_ {
  opacity: 0;
  font-size: 8rem;
  margin-top: 10rem;
  text-align: center;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.section {
  opacity: 0;
  padding: 1rem;
  background-color: #F8F8FF;
  margin-top: 3rem;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

html {
  font-size: 1vw;
}

@media screen and (max-width: 980px){
  .section{font-size: 1.3rem;}
}

@media screen and (max-width: 800px){
  .section{font-size: 1.5rem;}
}

@media screen and (max-width: 360px){
  .section{font-size: 2.8rem;}
  .top {font-size: 3rem;}
  .top_ {font-size: 8rem; margin-top: 21rem;}
  .section {margin-top: 6rem;}
}