body {
font-family: 'Lato', sans-serif;
color: #747704;
font-weight: 300;
}

.text-muted{
font-family: 'Lato', sans-serif;
color:#BCBBBB
}

.text-thin{
font-family: 'Lato', sans-serif;
font-weight:100;
}

.title-super {
font-family: 'Lato', sans-serif;
font-size: 60px;
}

.title-logo {
margin-top: 20px;
}

.list-inline
{
margin-left:auto; margin-right:0;
}